{% extends "base.html" %}

{% block content %}

 <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
         <center> <img src="http://i57.tinypic.com/34epy81.png" alt="First slide" style="border: 2px solid black; border-radius: 100$"> </center>
          <div class="container">
            <div class="carousel-caption">
              <h1>Example headline.</h1>
              <p>Note: If you're viewing this page via a <code>file://</code> URL, the "next" and "previous" Glyphicon buttons on the left and right might not load/display properly due to web browser security rules.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Sign up today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>Another example headline.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


    <div class="jumbotron">

      <p>PickMeUp was designed and implemented as a COS333 project in the spring of 2014. Here are the nerds that put this site together:</p>

        <h3>Evan Strasnick - Code management, authentication, migration, Git sorcery</h3>
        <img src="http://i58.tinypic.com/2nbrac9.jpg" border="0" alt="Image and video hosting by TinyPic" width="160" height="120" style="border: 2px solid black; border-radius: 100%">
        <h3>Cal Peyser - Profile pages, messaging, UI, semicolon termination</h3>
        <img src="http://i62.tinypic.com/j9vg91.jpg" border="0" alt="Image and video hosting by TinyPic" width="160" height="120" style="border: 2px solid black; border-radius: 100%">
        <h3>Jonathan Schwartz - QA, UI, Cheez-It buying</h3>
        <img src="http://i61.tinypic.com/16aadyh.jpg" border="0" alt="Image and video hosting by TinyPic" width="160" height="120" style="border: 2px solid black; border-radius: 100%">
        <h3>Valya Barboy - Ride creation and searching, debugging Cal's code, incessant giggling</h3>
        <img src="http://i60.tinypic.com/kegtjp.jpg" border="0" alt="Image and video hosting by TinyPic" width="160" height="120" style="border: 2px solid black; border-radius: 100%">
        <h3>Daniel Penner - Ride creation and searching, white t-shirt wearing</h3>
        <img src="http://i57.tinypic.com/33ah4x5.jpg" border="0" alt="Image and video hosting by TinyPic" width="160" height="120" style="border: 2px solid black; border-radius: 100%">

    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>

  </body>
</html>
{% endblock %}
