{% extends "base.html" %}

{% block content %}

 <div id="myCarousel" class="carousel slide" data-ride="carousel" style="background-color:#333333">  
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        <li data-target="#myCarousel" data-slide-to="5"></li>
        <li data-target="#myCarousel" data-slide-to="6"></li>
        <li data-target="#myCarousel" data-slide-to="7"></li>
        <li data-target="#myCarousel" data-slide-to="8"></li>
        <li data-target="#myCarousel" data-slide-to="9"></li>
        <li data-target="#myCarousel" data-slide-to="10"></li>
        <li data-target="#myCarousel" data-slide-to="11"></li>
        <li data-target="#myCarousel" data-slide-to="12"></li>
        <li data-target="#myCarousel" data-slide-to="13"></li>
        <li data-target="#myCarousel" data-slide-to="14"></li>
      </ol>
      <div class="carousel-inner">
        <div class="item active">
         <center> <img src="http://i.imgur.com/cp7edBz.jpg" alt="slide1" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
          <div class="container">
            <div class="carousel-caption">
              <h1>Welcome to PickMeUp!</h1>
              <p>Come take our tour!</p>
            </div>
          </div>
        </div>
        <div class="item">
         <center> <img src="http://i.imgur.com/jFDxePa.png" alt="slide2" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
          <div class="container">
            <div class="carousel-caption">
              <p><font color="black">First, you'll have to log in with your NetID to get into the site. PickMeUp was made just for Princeton students!</font></p>
             </div>
          </div>
        </div>
	<div class="item">
         <center> <img src="http://i.imgur.com/MJTrsW4.png" alt="slide3" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
          <div class="container">
            <div class="carousel-caption">
              <p>Then, let us know a little bit about yourself!</p> 
	      <p>Don't worry, we'll never call you, and only users you message or ride with will ever see your phone number!</p>
             </div>
          </div>
        </div>
	<div class="item">
         <center> <img src="http://i.imgur.com/LDKqQkM.png" alt="slide4" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
	   <div class="container">
            <div class="carousel-caption">
                <p>You'll arrive at our home page. You can create and search rides here, as well as navigate throughout the site using the bar at the top.</p>
             </div>
          </div>
        </div>
        <div class="item">
         <center> <img src="http://i.imgur.com/7f8AxoF.png" alt="slide5" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
           <div class="container">
            <div class="carousel-caption">
                <p>Let's say I'm planning to drive from Princeton to New York. We'll just enter the origin and destination and press 'I'm Driving.'</p>
             </div>
          </div>
        </div>
        <div class="item">
         <center> <img src="http://i.imgur.com/PuDDC1l.png" alt="slide6" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
           <div class="container">
            <div class="carousel-caption">
                <p>We'll need a bit more info, so that people will be able to find a ride that works for them!</p>
             </div>
          </div>
        </div>
        <div class="item">
         <center> <img src="http://i.imgur.com/GjsRhP7.png" alt="slide7" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
           <div class="container">
            <div class="carousel-caption">
	      <p>Great! We've created our first ride.</p><p> We've been taken straight to our profile page. You can access this page at any time by pressing 'Profile' on the bar at the top.</p>
             </div>
          </div>
        </div>
        <div class="item">
         <center> <img src="http://i.imgur.com/e1z76hA.png" alt="slide8" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
           <div class="container">
            <div class="carousel-caption">
                <p>Oh look! Your profile shows a notification when someone wants to join your ride. Let's click for more detail.</p>
             </div>
          </div>
        </div>
        <div class="item">
         <center> <img src="http://i.imgur.com/DkrVW7p.png" alt="slide9" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
           <div class="container">
            <div class="carousel-caption">
                <p>As a driver, you get to approve everyone who gets into your car.<p></p> If you'd like to talk it over first, you can send them a message!</p>
		<p>We'll accept Valya, and then click 'Message the approved passengers in this ride'</p>
             </div>
          </div>
        </div>
	<div class="item">
         <center> <img src="http://i.imgur.com/rPicEuz.png" alt="slide10" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
           <div class="container">
            <div class="carousel-caption">
                <p>Give your message a subject and body, and press send!</p>
             </div>
          </div>
        </div>
        <div class="item">
         <center> <img src="http://i.imgur.com/NYLK5eF.png" alt="slide11" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
           <div class="container">
            <div class="carousel-caption">
                <p>In your inbox, you can see all of your conversations.</p><p> Click on any to see the entire conversation in detail</p>
             </div>
          </div>
        </div>
        <div class="item">
         <center> <img src="http://i.imgur.com/Dno2xfL.png" alt="slide12" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
           <div class="container">
            <div class="carousel-caption">
                <p>Also, by clicking 'Write Message' at the top, you can directly message anyone who's used the site. </p>
                <p>Now let's try searching for a ride. Let's go from Princeton to New Haven.</p>
		<p>From our homepage, simply list the origin and destination, and press "I'm looking for a ride.</p>
	    </div>
          </div>
        </div>
        <div class="item">
         <center> <img src="http://i.imgur.com/IWI5p4K.png" alt="slide13" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
           <div class="container">
            <div class="carousel-caption">
                <p>Aha! There's a ride going to Needham Heights, MA which should do nicely.</p>
		<p>Note that PickMeUp finds any rides along which dropping you off would be convenient.</p>
             </div>
          </div>
        </div>
        <div class="item">
         <center> <img src="http://i.imgur.com/oIPbInc.png" alt="slide14" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
           <div class="container">
            <div class="carousel-caption">
                <p>Clicking any ride will show you more details.</p> <p>From here we can request to join the ride!</p>
             </div>
          </div>
        </div>
        <div class="item">
         <center> <img src="http://i.imgur.com/ekyhJHu.png" alt="slide15" width="900" height="600"  style="border: 2px solid black; border-radius: 100$"> </center>
           <div class="container">
            <div class="carousel-caption">
                <p>Congratulations! You're ready to start using the site.</p>
		<p>May your traveling be safe, easy, and traffic-free!</p>
             </div>
          </div>
        </div>
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->


    <div class="jumbotron">

      <p>PickMeUp was designed and implemented as a COS333 project in the spring of 2014. Here are the nerds that put this site together:</p>

        <h3>Evan Strasnick - Code management, authentication, migration, hompage, 'about' tutorial,  Git sorcery</h3>
        <img src="http://i58.tinypic.com/2nbrac9.jpg" border="0" alt="Image and video hosting by TinyPic" width="160" height="120" style="border: 2px solid black; border-radius: 100%">
        <h3>Cal Peyser - Profile pages, messaging, UI, these wacky photos, semicolon termination</h3>
        <img src="http://i62.tinypic.com/j9vg91.jpg" border="0" alt="Image and video hosting by TinyPic" width="160" height="120" style="border: 2px solid black; border-radius: 100%">
        <h3>Jonathan Schwartz - QA/Testing, UI, Cheez-It buying</h3>
        <img src="http://i61.tinypic.com/16aadyh.jpg" border="0" alt="Image and video hosting by TinyPic" width="160" height="120" style="border: 2px solid black; border-radius: 100%">
        <h3>Valya Barboy - Ride creation and searching, Javascript, database witchcraft, debugging Cal's code, incessant giggling</h3>
        <img src="http://i60.tinypic.com/kegtjp.jpg" border="0" alt="Image and video hosting by TinyPic" width="160" height="120" style="border: 2px solid black; border-radius: 100%">
        <h3>Daniel Penner - Ride creation and searching, white t-shirt wearing</h3>
        <img src="http://i57.tinypic.com/33ah4x5.jpg" border="0" alt="Image and video hosting by TinyPic" width="160" height="120" style="border: 2px solid black; border-radius: 100%">

    </div>



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>

  </body>
</html>
{% endblock %}
