{% extends "base.html" %}

{% block content %}
    <div class="container">

      <div class="starter-template" style="background-color: white; border: 3px solid #9999999; border-radius: 15px; width: 800px; height:300px; padding: 20px; position: relative; margin: auto">
	
        {% if flagDrive %}
            <h1>Oh no!!</h1>
          <p class="lead"> You're the driver of {{ride_text}}! </p>
          <p class="lead"> You can't be added to your own ride, silly!!</p>
        {% elif flagPass %}
	   <h1>Oh no!!</h1>
           <p class="lead"> You're already signed up as a passenger of {{ride_text}}! </p>
           <p class="lead"> You can't be added to the same ride twice, silly!!</p>
	  {% else %}
          <h1>Congrats!</h1>
          <p class="lead"> The driver of {{ride_text}} has been notified of your intent to join them! </p>
          <p class="lead"> You will be notified once the driver approves you to join their trip! </p>
        {% endif %}
	  <form action="/profile/" method="get">
	      <input type="submit" value="Ok, take me to my profile!" class="btn btn-default"/>
          </form>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
{% endblock %}
