{% extends "base.html" %}

{% block content%}
  <div class="container" align="center">


<div class="container" align="center">

      <div class="starter-template" style="background-color: black; border: 3px solid #999999; border-radius: 25px; width: 600px; padding-bottom: 20px; position: relative">
        <h1 style="color:white;">Are You Sure?</h1>
        <p class="lead" style="color: white">A message will be sent to all participants that the ride has been canceled.</p>

        <form method="GET" action="/cancel_ride_execute"> {% csrf_token %}
          <input type="hidden" name="id" value="{{this_ride_id}}">
          <input type="submit" name="action" value="Cancel Ride" class="btn btn-default">
          <input type="submit" name="action"value="Go Back" class="btn btn-default">
        </form>

  </body>
</html>
{% endblock %}