{% extends "base.html" %}

{% block content %}
<br><br>
<div class="container" align="center">

      <div class="starter-template" style="background-color: white; border: 3px solid #999999; border-radius: 25px; width: 800px; padding-bottom: 20px; position: relative">
        <h1 style="color:black;" align="center">Are you sure?!</h1>
        <p class="lead" style="color:black;" align="center">This is the ride you've selected: </p>
	{% for line in ride_text %}
          <p class="lead" style="color:black;" align="center"> {{line}}</p>
	{% endfor %}
        <p class="lead" style="color:black;" align="center"> Would you like to be added to it?</p>
        <button type="button" onclick='add_to_ride("{{ride_id}}")'> Confirm! </button>
        <button type="button" onclick="goBack()"> No, go back. </button>
      </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <script>

    // this was borrowed from here: http://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit
    function post_to_url(path, params, method) {
        method = method || "post"; 
        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
             }
        }

        document.body.appendChild(form);
        form.submit();
    }

    function add_to_ride(ride_id) {
      post_to_url('/add_me/', {'ride_id' : ride_id, 'passenger': '{{passenger}}', csrfmiddlewaretoken: '{{ csrf_token }}'});
    }
</script>
<script>
function goBack()
  {
  window.history.back()
  }
</script>
  </body>
</html>

{% endblock %}
