{% extends "base.html" %}

{% block content %}
<div class="container" align="center">

      <div class="starter-template" style="background-color: orange; border: 3px solid #999999; border-radius: 25px; width: 800px; padding-bottom: 20px; position: relative">
          <div align="center">

    <h1>You are driving the following ride</h1>
    <h4>Date: {{this_start_date}}</h4>
    <h4>Time: {{this_start_time}}</h4>
    <h4>Route: From {{this_ride.start}} to {{this_ride.end}}</h4>
    <h3>Passengers Awaiting Approval:</h3>
    <ul>
      {% for passenger in this_pending %}
      <div class="container" style="background-color: white; border: 2px solid black; border-radius: 15px; width: 250px; height: 140px; position: relative:">
        <p>{{passenger}}<p>
        <p>{{passenger.person.phone_number}}</p>
        <p>Going from {{passenger.start_loc}} to {{passenger.end_loc}}</p>
        <form action="{{ROOT}}choose_passenger" method="GET">
          <input type="hidden" name="ride_id" value="{{this_ride.id}}">
          <input type="hidden" name="user_id" value="{{passenger.id}}">
          <input type="submit" name="Approve" value="Approve" class="btn btn-default navbar-btn">
          <input type="submit" name="Decline" value="Decline" class="btn btn-default navbar-btn">
        </form>
      </div>
    </br>
      {% endfor %}
    </ul>

    <h3>Approved Passengers:</h3>
    <ul>
    {% for passenger in this_passengers %}
      <div class="container" style="background-color: white; border: 2px solid black; border-radius: 15px; width: 250px; height: 140px; position: relative:">
      <p>{{passenger}}<p>
      <p>{{passenger.person.phone_number}}</p>
      <p>Going from {{passenger.start_loc}} to {{passenger.end_loc}}</p>
        <form action="{{ROOT}}boot_passenger" method="GET">
          <input type="hidden" name="ride_id" value="{{this_ride.id}}">
          <input type="hidden" name="user_id" value="{{passenger.id}}">
          <input type="submit" name="Submit" value="Boot This Passenger" class="btn btn-default navbar-btn">
        </form>        
      </div>
      <br>
    {% endfor %}
    </ul>


    <form action="{{ROOT}}write_message_ride" method="GET">
      <input type="hidden" name="ride" value="{{this_ride.id}}"> 
      <input type="submit" value="Message the approved passengers in this ride" class="btn btn-default navbar-btn">
    </form>

    <form action="{{ROOT}}cancel_ride" method="GET">
      <input type="hidden" name="id" value="{{this_ride.id}}">
      <input type="submit" value="Cancel this ride" class="btn btn-default navbar-btn">
    </form>

  </div></div></div></div>



  </body>
</html>

{% endblock %}
