{% extends "base.html" %}
{% block header %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Load Google Maps API --> 
    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBJAwkd0cOH9KcWXKyhK-TKvkCtmdm7SJk&sensor=false">
    </script>

    <script type="text/javascript"> 

function stopRKey(evt) { 
  var evt = (evt) ? evt : ((event) ? event : null); 
  var node = (evt.target) ? evt.target : ((evt.srcElement) ? evt.srcElement : null); 
  if ((evt.keyCode == 13) && (node.type=="text"))  {return false;} 
} 

document.onkeypress = stopRKey; 

    </script>

    <title>PickMeUp</title>

        <!-- Obtain Bootstrap style sheet from CDN (online service) so it doesn't have to be on my machine -->
  <!-- Check http://www.bootstrapcdn.com/ for latest version. -->
  <link href="custom_home.css" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js">
  </script>
  <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.js"></script>
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
  <!-- Latest compiled and minified JavaScript -->
  <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js">
  </script>


   <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        font-family:"Helvetica", sans-serif;
      }
    </style>
    
    

   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">

    <title>Princeton PickMeUp</title>
	 <link type="text/css" rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500">
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&sensor=false&libraries=places"></script>
    <script>
// This example displays an address form, using the autocomplete feature
// of the Google Places API to help users fill in the information.

var placeSearch, autocomplete;
var componentForm = {
  street_number: 'short_name',
  route: 'long_name',
  locality: 'long_name',
  administrative_area_level_1: 'short_name',
  country: 'long_name',
  postal_code: 'short_name'
};

function initialize() {
  // Create the autocomplete object, restricting the search
  // to geographical location types.
  autocomplete1 = new google.maps.places.Autocomplete(
      /** @type {HTMLInputElement} */(document.getElementById('autocomplete1')),
      { types: ['geocode'] });
  // When the user selects an address from the dropdown,
  // populate the address fields in the form.
  google.maps.event.addListener(autocomplete1, 'place_changed', function() {
    fillInAddressStart();
  });
  autocomplete2 = new google.maps.places.Autocomplete(
      /** @type {HTMLInputElement} */(document.getElementById('autocomplete2')),
      { types: ['geocode'] });
  // When the user selects an address from the dropdown,
  // populate the address fields in the form.
  google.maps.event.addListener(autocomplete2, 'place_changed', function() {
    fillInAddressEnd();
  });
}

// [START region_fillform]
function fillInAddressStart() {
  // Get the place details from the autocomplete object.
  var place = autocomplete1.getPlace();
  document.getElementById('id_start').value = place.geometry.location['k'].toString().concat(', ').concat(place.geometry.location['A'].toString())
  document.getElementById('id_startname').value = place.formatted_address
}

function fillInAddressEnd() {
  // Get the place details from the autocomplete object.
  var place = autocomplete2.getPlace();
  
  document.getElementById('id_end').value = place.geometry.location['k'].toString().concat(', ').concat(place.geometry.location['A'].toString())
  document.getElementById('id_endname').value = place.formatted_address
}
// [END region_fillform]

// [START region_geolocation]
// Bias the autocomplete object to the user's geographical location,
// as supplied by the browser's 'navigator.geolocation' object.
function geolocate() {
  if (navigator.geolocation) {
    navigator.geolocation.getCurrentPosition(function(position) {
      var geolocation = new google.maps.LatLng(
          position.coords.latitude, position.coords.longitude);
      autocomplete.setBounds(new google.maps.LatLngBounds(geolocation,
          geolocation));
    });
  }
}
// [END region_geolocation]

    </script>

    <style>
      #locationField, #controls {
        position: relative;
        width: 480px;
      }
      #autocomplete1 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      #autocomplete2 {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 99%;
      }
      .label {
        text-align: right;
        font-weight: bold;
        width: 100px;
        color: #303030;
      }
      #address {
        border: 1px solid #000090;
        background-color: #f0f0ff;
        width: 480px;
        padding-right: 2px;
      }
      #address td {
        font-size: 10pt;
      }
      .field {
        width: 99%;
      }
      .slimField {
        width: 80px;
      }
      .wideField {
        width: 200px;
      }
      #locationField {
        height: 20px;
        margin-bottom: 2px;
      }
    </style>
  </head>

  <body onload="initialize()" background="http://www.aboutnyc.org/wp-content/uploads/2014/01/P1370398-7.jpg"style="background-size: cover"> <!--style="background-color: #36D695-->
    <!--Navbar-->

    {% endblock %}


    {% block content %}

    <br>
    <br>
 
<div class="container" align="center">

      <div class="starter-template" style="background-color: black; border: 3px solid #999999; border-radius: 25px; width: 800px; padding-bottom: 20px; position: relative">

        <h1 style="color:white;font-size:60px">PickMeUp</h1>
        <h3 style="color:white;"><em>A ride sharing application by Princeton students, for Princeton students, <br>to help you get where you need to go.</em></h3>
        <hr>
        <p class="lead" style="color:white;font-size:24px;">Where are you going?</p>

        <form method="POST" action=""> {% csrf_token %}
        <div id="locationField">
  		    <input id="autocomplete1" placeholder="From"
             onFocus="geolocate()" type="text" style="border: 2px solid black"></input>
 		   </div>
       <br>
 		   <div id="locationField">
  		    <input id="autocomplete2" placeholder="To"
             onFocus="geolocate()" type="text" style="border: 2px solid black"></input>
 		   </div>
       <br>
 		      {{ form.as_p }}
          <!--<input type="submit" name="drive" value="I'm driving.">
          <input type="submit" name="hitch" value="I'm looking for a ride.">-->
          <input type="submit" name="drive" value="I'm driving." class="btn btn-default">
          <input type="submit" name="hitch" value="I'm looking for a ride." class="btn btn-default">
          <div class="test"></div>

        </form>
      </div>
    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>

{% endblock %}
