<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Inbox</title>

        <!-- Obtain Bootstrap style sheet from CDN (online service) so it doesn't have to be on my machine -->
  <!-- Check http://www.bootstrapcdn.com/ for latest version. -->
  <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" rel="stylesheet">
   <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
        font-family:"Palatino Linotype", "Book Antiqua", Palatino, serif;
      }
    </style>

   <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../assets/ico/favicon.ico">


  <body background="http://images2.alphacoders.com/439/439147.jpg">

      <div class="container">

      <!-- Static navbar -->
      <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/home">PickMeUp</a>
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
              <li><a href="/profile">Profile</a></li>
              <li class="active"><a href="/inbox">Inbox</a></li>
              <li><a href="/write_message">Write Message</a></li>
            </ul>
             <ul class="nav navbar-nav navbar-right">
              <li><a href="/about">About</a></li>
            </ul>

          </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
      </div>


<!-- mostly taken from http://www.bootply.com/130410 -->

<div class="container">
  <div class="row">
    <div class="row">
      <div class="col-sm-2"><!--left col-->               
          
        </div><!--/col-3-->
      <div class="col-sm-9">
          
          <ul class="nav nav-tabs" id="myTab">
            <li class="active"><a href="" data-toggle="tab">Inbox</a></li>
            <li><a href="/sent" data-toggle="tab">Sent</a></li>
          </ul>
              
          <div class="tab-content">
            <div class="tab-pane active" id="home">
              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Title</th>
                      <th>Sender</th>
                      <th>Timestamp</th>
                    </tr>
                  </thead>
                  <tbody id="items">
                    {%for message in messages_recieved%}
                    <script>
                      var message_string = new String('{{message.message}}');
                    </script>
                    <tr id="{{message.id}}" onclick="document.getElementById('email_display').value = '{{message.message}}'">
                      <td>{{message.title}}</td>
                      <td>{{message.sender}}</td>
                      <td>{{message.timestamp}}</td>
                      <td><button onclick="window.location.href='/write_message_conversation/?id={{message.conversation.id}}'">Reply</td>
                    </tr>
                    {%endfor%}
                  </tbody>
                </table>
                <hr>
                <div class="row">
                  <div class="col-md-4 col-md-offset-4 text-center">
                    <ul class="pagination" id="myPager"></ul>
                  </div>
                </div>
              </div><!--/table-resp-->
              
              <hr>
              
              
             </div><!--/tab-pane-->
             <div class="tab-pane" id="messages">                                             
              </div><!--/tab-pane-->
              <div>
                <textarea readonly rows="20" cols="100" id="email_display">
                </textarea> 
                <br>
                <br>
              </div>

          </div><!--/tab-content-->

        </div><!--/col-9-->
    </div><!--/row-->



    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
