{% extends "base.html" %}

{% block content %}

<br><br>
<div class="container" align="center">

      <div class="starter-template" style="background-color: orange; border: 3px solid #999999; border-radius: 25px; width: 800px; padding-bottom: 20px; position: relative">

    <h1>You are participating in the following ride</h1>
    <h4>Date: {{this_start_date}}</h4>
    <h4>Time: {{this_start_time}}</h4>
    <h4>Driver: {{this_ride.driver}}
    <h4>Route: From {{this_ride.start}} to {{this_ride.end}}</h4>
    <h3>Passengers:</h3>
    <ul>
    {% for passenger in this_passengers %}
      <p>{{passenger}}</p>
    {% endfor %}
    </ul>

    <form action="{{ROOT}}write_message_target" method="GET">
      <input type="hidden" name="user" value="{{this_driver.id}}">
      <input type="submit" value="Message the driver of this ride" class="btn btn-default navbar-btn">
    </form>


    <form action="{{ROOT}}leave_ride" method="GET">
      <input type="hidden" name="ride_id" value="{{this_ride.id}}">
      <input type="submit" value="Leave this ride" class="btn btn-default navbar-btn">
    </form>

  </div></div></div></div>



  </body>
</html>

{% endblock %}