{% extends "base.html" %}

{% block content %}
    <div align="center">
    <h1>Rides that you are driving</h1>
      {% for ride in current_rides_driving %}
        <form action="{{ROOT}}driver_future" method="GET">
          <input type="hidden" name="id" value="{{ride.id}}">
          <input type="submit" value="Ride from {{ride.start}} to {{ride.end}}" class="btn btn-default navbar-btn">
        </form>
      {% endfor %}
    <h1>Rides that you are in</h1>
      {% for ride in current_rides_passenger %}
        <form action="{{ROOT}}passenger_future" method="GET">
          <input type="hidden" name="id" value="{{ride.id}}">
          <input type="submit" value="Ride from {{ride.start}} to {{ride.end}}" class="btn btn-default navbar-btn"> 
        </form>
      {% endfor %}
    <h1>Rides that you drove in the past</h1>
      {% for ride in past_rides_driving %}
        <form action="{{ROOT}}driver_past" method="GET">
          <input type="hidden" name="id" value="{{ride.id}}">
          <input type="submit" value="Ride from {{ride.start}} to {{ride.end}}" class="btn btn-default navbar-btn">
        </form>
      {% endfor %}
    <h1>Rides that you were a passenger in</h1>
      {% for ride in past_rides_passenger %}
        <form action="{{ROOT}}passenger_past" method="GET">
          <input type="hidden" name="id" value="{{ride.id}}">
          <input type="submit" value="Ride from {{ride.start}} to {{ride.end}}" class="btn btn-default navbar-btn">
        </form>
      {% endfor %}   
    </div> 
  </body>
</html>
{% endblock %}
