{% extends "base.html" %}

{% block content %}
    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>

        <!-- JavaScript for Swathing -->
    <script type="text/javascript" src="http://google-maps-utility-library-v3.googlecode.com/svn/trunk/routeboxer/src/RouteBoxer.js"></script>
    <script>

    // this was borrowed from here: http://stackoverflow.com/questions/133925/javascript-post-request-like-a-form-submit
    function post_to_url(path, params, method) {
        method = method || "post"; 
        // The rest of this code assumes you are not using a library.
        // It can be made less wordy if you use one.
        var form = document.createElement("form");
        form.setAttribute("method", method);
        form.setAttribute("action", path);

        for(var key in params) {
            if(params.hasOwnProperty(key)) {
                var hiddenField = document.createElement("input");
                hiddenField.setAttribute("type", "hidden");
                hiddenField.setAttribute("name", key);
                hiddenField.setAttribute("value", params[key]);

                form.appendChild(hiddenField);
             }
        }

        document.body.appendChild(form);
        form.submit();
    }

  var directionService = new google.maps.DirectionsService();
  var rboxer = new RouteBoxer();
  var distance = 20; // km
  var start = "{{start}}";
  var end = "{{end}}";
  var request = {
    origin: start,
    destination: end,
    travelMode: google.maps.TravelMode.DRIVING
  };
  console.log(rboxer);
  var swath = "";
  directionService.route(request, function(result, status) {
    console.log(request);
    if (status == google.maps.DirectionsStatus.OK) {
      //alert("Driving is legit and stuff, yo.")
      // Box the overview path of the first route
      var path = result.routes[0].overview_path;
      var distance = 0
      var legs = result.routes[0].legs
      for (var i = 0; i < legs.length; i++) {
        distance = distance + legs[i].distance.value
      }
      console.log(distance);
      radius = distance*(.02)/1000
      var boxes = rboxer.box(path, radius);
      
      for (var i = 0; i < boxes.length; i++) {
        var bounds = boxes[i];
        // format the result to make it easier to parse later
        var temp = bounds.toString();
        var temp1 = temp.replace(/\(/g, "");
        var temp2 = temp1.replace(/\)/g, "");
        if (i != boxes.length - 1) {
          temp2 += ", "
        }
        swath += temp2;
      }
      post_to_url('/create_ride/', {'startLoc': start, 'endLoc': end, 'swaths': swath, csrfmiddlewaretoken: '{{ csrf_token }}', 'firstload': 'yes'});
    }
    else {
      alert("Hey, man. Looks like your ride is trying to do something wonky. Like cross the ocean. Which isn't cool. Click ok, and we'll redirect you to home, so you can try again!")
      window.location.replace('/home/')
    }
  });
  console.log("Hey, I'm done!");
</script>
  </body>
</html>
{% endblock %}
