{% extends "base.html" %}

{% block content %}
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.js" type="text/javascript"></script>
{% include 'autocomplete_light/static.html' %}

<br><br>
<div class="container" align="center">
      <div class="starter-template" style="background-color: white; border: 3px solid #999999; border-radius: 25px; width: 800px; padding-bottom: 20px; position: relative">
        <br>
        <form method="POST" action=""> {% csrf_token %}
          <div align="center">
          {{form.as_p}} 
          <input type="submit" value="Send Message" class="btn btn-default navbar-btn">
        </div>
        </form>
      </div>

    </div><!-- /.container -->




    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="../../dist/js/bootstrap.min.js"></script>
  </body>
</html>
{% endblock %}
